$.modal.close();
$('.edit-form-overlay').remove();
$('#simplemodal-container').remove();
$('#simplemodal-overlay').remove();
$('.list tbody').prepend('<tr id="issue-<%= @issue.id %>" class="hascontextmenu <%= cycle("odd", "even") %> <%= @issue.css_classes %>">"' +
 '<td class=checkbox hide-when-print><%= check_box_tag("ids[]", @issue.id, false, :id => nil) %></td>' +
    '<%= raw @query.inline_columns.map {|column| "<td class=\"#{column.css_classes}\">#{column_content(column, @issue)}</td>"}.join %> </tr>');


